<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a style="text-decoration: none; color: black;" href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a style="text-decoration: none; color: black;" href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a style="text-decoration: none; color: black;" href="https://www.linkedin.com/in/khubaib-ashraf-049760331/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Pvt. Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy & </a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>