body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white ;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #000000 !important;
}

.show {
    background-color: white;
}

.collapsing {
    background-color: white;
}

/* Footer */

.f-info {
    display: flex;
    justify-content: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: center;
}

.f-info-socials, .f-info-links, .f-info-brand {
    width: 100%;
    text-align: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.4rem;
}


.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}


/* Index Page */

/* cards */

.listings-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-text p {
    font-weight: 400;
}

/* New Page */

.new-btn,.edit-btn {
    height: 3rem;
}

/* Show Page */

.img-show {
    height: 50vh;
}